<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hastane Yönetim Sistemi</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1 class="mt-5">Hastane Yönetim Sistemi</h1>
    <div class="mt-3">
        <a href="/hastalar" class="btn btn-primary">Hastalar</a>
        <a href="/doktorlar" class="btn btn-primary">Doktorlar</a>
        <a href="/randevular" class="btn btn-primary">Randevular</a>
        <a href="/raporlar" class="btn btn-primary">Raporlar</a>
    </div>
</div>

</body>
</html>
